<a href="https://colab.research.google.com/github/alinavandreeva/hse-python-course/blob/main/workbook/1_Arithmetics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

(c) В.И. Фирсанова | 2024

# Арифметические операции в Python

1. **Сложение (+)**:
   - `3 + 5` возвращает `8`

2. **Вычитание (-)**:
   - `10 - 4` возвращает `6`

3. **Умножение (*)**:
   - `2 * 6` возвращает `12`

4. **Деление (/)**:
   - `15 / 3` возвращает `5.0` (число с плавающей точкой)

5. **Целочисленное деление (//)**:
   - `15 // 4` возвращает `3` (целое число)

6. **Остаток от деления (%)**:
   - `15 % 4` возвращает `3`

7. **Возведение в степень (**** **либо (pow())**:
   - `2 ** 3` или `pow(2, 3)` возвращает `8`

8. **Модуль (abs())**:
   - `abs(-10)` возвращает `10`

10. **Округление (round())**:
    - `round(4.6)` возвращает `5`
    - `round(4.65, 1)` возвращает `4.7` (1 знак после запятой)

**Порядок арифметических операций в Python:**

1. Скобки
2. Возведение в степень, корень числа
3. Умножение и деление слева-направо
4. Сложение и вычитание слева-направо

In [2]:
num1 = 10
num2 = 20

num1 + num2

result = num1+num2

print(result)

30

In [3]:
num1 = 10
num2 = 20

num2 - num1

result = num2-num1

print(result)

10

In [4]:
num1 = 10
num2 = 20

num1 * num2

result = num1*num2

print(result)

200

In [5]:
num1 = 10
num2 = 20

num2 / num1

result = num2/num1

print(result)

2.0

In [6]:
str1 = "Hello, "
str2 = "World!"

str1 + str2

result = str1+str2

print(result)

Hello, World!

In [7]:
str1 = "Hello, "
num1 = 10

str1 + num1

result = str1+num1

print(result)

TypeError: can only concatenate str (not "int") to str

In [8]:
str1 = "Hello, "
num1 = "10"

str1 + num1

result = str1+num1

print(result)

Hello, 10

Сложение двух строк называется **конкатенацией**. В Python можно конкатенировать только 2 одинаковых типа данных, например, числа и числа, строки и строки, матрицы и матрицы и т.д.

In [11]:
num1 = 10
num2 = 20

num1 + num2

num1 += num2

result = num1+num2

print(result)

50

Операторы `+=`, `-=`, `*=`, `/=` изменяют значение текущей переменной путем сложения, вычитания, умножения и т.д. другой переменной. Они делают код **питоничным**, ускоряя как скорость написания кода, так и скорость его выполнения.

Почему ускоряется скорость выполнения кода?

Сценарий 1

```
a = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор a
b = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор b

c = a + b # занимаем ячейку памяти компьютера и даем ей идентификатор c
```
Сценарий 2
```
a = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор a
b = 1 # занимаем ячейку памяти компьютера и даем ей идентификатор b

a += b # обновляем информацию в ячейке a
```

Результат тот же, но мы не заполняем место в памяти компьютера ячейкой `c`.
А теперь представь, что мы работаем с большими данными. Как много памяти мы сохраним и насколько быстрее будет работать такой код!

Так что питоничность - это то, к чему мы стремимся, как питонисты :)

In [13]:
num1 = 10
num2 = 20

num1 -=num2

num2 - num1

result = num2-num1

print(result)

30

In [14]:
num1 = 10
num2 = 20

num1 *= num2

num1 * num2

result = num1*num2

print(result)

4000

In [15]:
num1 = 10
num2 = 20

num1 /= num2

num2 / num1

result = num2/num1

print(result)

40.0